/.DS_Store
/TrainSampleProject/TrainSampleProject.xcodeproj/project.xcworkspace/xcuserdata/tomer.xcuserdatad/UserInterfaceState.xcuserstate
/src/.DS_Store
/TrainSampleProject/TrainSampleProject.xcodeproj/xcuserdata/tomer.xcuserdatad/xcschemes/xcschememanagement.plist
/TrainSampleProject/TrainSampleProject.xcodeproj/xcuserdata/tomer.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist